<html>
    <head>
        {% block title %}
            <title>
                {{ page_title }}
            </title>
        {% endblock title %}
        <style>
            .ChatMessage{
                border: 1px solid black;
                border-radius: 10px;
            }
            .ChatMessage.me{
                opacity: 0.5;
            }
            .ChatMessage.user_1{
                /* calcnerd256 */
                background: #80c0ff;
            }
            .ChatMessage.user_2{
                /* zhera */
                background: #80ff80;
            }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
