{% extends "chat/list.html" %}
{% block before_list %}
        <a href="{% url 'message_create' %}">
            New message
        </a>
        <br />
        <a href="{% url 'message_search' %}">
            Search
        </a>
        <form method="POST" action="{% url "message_create" %}">
            {% csrf_token %}
            <label for="body">quick message:</label>
            <input type="text" name="body" autofocus="yes, please" tabindex="1"></input>
            <input type="submit" value="say it"></input>
        </form>
{% endblock before_list %}
{% block item %}
    {% with message=object %}
            <li class="ChatMessage {% if user.id == message.author.id %}me {% endif %}user_{{ message.author.id }}">
                <span>
                        <a href="{{ message.get_author_url }}">
                            {{ message.author }}
                        </a>
                        @
                        <a href="{{ message.get_absolute_url }}">
                            {{ message.timestamp }}
                        </a>
                </span>
                <p>
                    {{ message.body|linebreaksbr }}
                </p>
            </li>
    {% endwith %}
{% endblock item %}
