<html>
    <head>
        <style>
            li.ChatMessage{
                border: 1px solid black;
                border-radius: 10px;
            }
            li.ChatMessage.me{
                opacity: 0.5;
            }
            li.ChatMessage.user_1{
                /* calcnerd256 */
                background: #80c0ff;
            }
            li.ChatMessage.user_2{
                /* zhera */
                background: #80ff80;
            }
        </style>
    </head>
    <body>
        <a href="{% url 'message_create' %}">
            New message
        </a>
        {% for message in object_list %}
            <li class="ChatMessage {% if user.id == message.author.id %}me {% endif %}user_{{ message.author.id }}">
                {{ message.body|linebreaksbr }}
            </li>
        {% endfor %}
        {% if is_paginated %}

            {% for page in page_obj.paginator.page_range %}
                <a href="?page={{ page }}">
                    {{ page }}
                </a>
            {% endfor %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                   <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
               <span class="page-current">
                    Page
                    {{ page_obj.number }}
                    of
                    {{ page_obj.paginator.num_pages }}.
               </span>
               {% if page_obj.has_next %}
                   <a href="?page={{ page_obj.next_page_number }}">
                       next
                   </a>
               {% endif %}
                </span>
            </div>
        {% endif %}
    </body>
</html>
