{% extends "chat/base.html" %}
{% block content %}
    <a href="{% url 'home' %}">
        Home
    </a>
    <div>
            Author:
            <a href="{{ object.get_author_url }}">
                {{ object.author }}
            </a>
    </div>
    {% block when_posted %}
        <div>
            Posted at:
            {{ object.timestamp }}
	</div>
    {% endblock when_posted %}
    <div>
            Body of message:
            <br />
<pre>{{ object.body|urlize }}</pre>
    </div>
{% endblock content %}
