{% extends "chat/base.html" %}
{% block content %}
        <div>
            Author:
            <a href="{{ object.get_author_url }}">
                {{ object.author }}
            </a>
        </div>
        <div>
            Posted at:
            {{ object.timestamp }}
        </div>
        <div>
            Body of message:
            <br />
<pre>{{ object.body|urlize }}</pre>
        </div>
        <a href="{% url 'message_list' %}">
            Back to the log
        </a>
{% endblock content %}
