<a href="{% url 'message_create' %}">New message</a>
<form method="POST" action="{% url "message_create" %}">
    {% csrf_token %}
    <label for="body">quick message:</label>
    <input type="text" name="body" autofocus="yes, please" tabindex="1"></input>
    <input type="submit" value="say it"></input>
</form>
{% for message in object_list %}
    <li>{{ message.body|linebreaksbr }}</li>
{% endfor %}
{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}">&larr;</a>
        {% endif %}
        {{ page_obj }}
        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}">&rarr;</a>
        {% endif %}
    </div>
{% endif %}
