<html>
    <head>
        <title>
            Title
        </title>
    </head>
    <body>
        <ul>
            <li>
                <a href="{% url 'message_create' %}">
                    Say somethin'
                </a>
            </li>
            <li>
                <a href="{% url 'message_list' %}">
                    View the log
                </a>
            </li>
            <li>
                <a href="{% url "admin:index" %}">
                    administer
                </a>
            </li>
        </ul>
    </body>
</html>
