{% extends "chat/base.html" %}
{% block content %}
    {{ block.super }}
    {% block before_list %}
    {% endblock before_list %}
    {% block list %}
        <ul>
            {% for object in object_list %}
                {% block item %}
                    <li>
                        {% with url=object.get_absolute_url %}
                            {% if url %}
                                <a href="{{ url }}">
                            {% endif %}
                                    {{ object }}
                            {% if url %}
                                </a>
                            {% endif %}
                        {% endwith %}
                    </li>
                {% endblock item %}
            {% endfor %}
        </ul>
    {% endblock list %}
    {% block after_list %}
        {% block pagination %}
            {% if is_paginated %}
                {% for page in page_obj.paginator.page_range %}
                    <a href="?page={{ page }}">
                        {{ page }}
                    </a>
                {% endfor %}
                <div class="pagination page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">
                            &larr;
                        </a>
                    {% endif %}
                    <span class="page-current">
                        Page
                        {{ page_obj.number }}
                        of
                        {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">
                            &rarr;
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock pagination %}
    {% endblock after_list %}
{% endblock content %}
