{% extends "chat/_message_preview.html" %}
{% block metadata %}
    {{ block.super }}
    {% if hide_pk %}
        (<a href="{% url "create_from_three_messages" hide_pk object.pk hide_pk %}{% if this_page %}?next={{ this_page }}{% endif %}">hide</a>)
    {% endif %}
    {% if sticky_pk %}
        {% if object.sticky %}
            sticky
            (<a href="{% url "create_from_three_messages" sticky_pk object.pk 0 %}{% if this_page %}?next={{ this_page }}{% endif %}">unstick</a>)
        {% else %}
            (<a href="{% url "create_from_three_messages" sticky_pk object.pk object.pk %}{% if this_page %}?next={{ this_page }}{% endif %}">pin</a>)
        {% endif %}
    {% endif %}
{% endblock metadata %}
