{% extends "chat/chatmessage_detail.html" %}
{% block content %}
    {{ block.super }}
    <a href="{% url "raw_message" object.pk %}">raw</a>
    <h2>Sequence</h2>
    {% include "transit/_message_preview.html" with object=object.get_previous %}
    {{ object.pk }}
    {% include "transit/_message_preview.html" with object=object.get_next %}
    <h2>Relationships</h2>
    <a href="{% url "message_edges" object.pk %}">Adjacency</a>
    <h2>Special Identity</h2>
    {% if object.as_natural %}
        This is the natural number
        {{ object.as_natural }}
    {% endif %}
    {% if object.get_local_user %}
        This is the local user
        <a href="{% url "user_detail" object.get_local_user.pk %}">
            {{ object.get_local_user }}
        </a>
    {% endif %}
{% endblock content %}
