{% extends "chat/base.html" %}
{% block content %}
    {% include "transit/_message_preview.html" %}
    <h2>
        participates in edges
    </h2>
    <h3>as the source</h3>
    <ul>
        {% for edge in sources %}
            <li>
                <ol>
                    <li>
                        YOU ARE
                        (<a href="{% url "edge_history" edge.source.pk edge.path.pk %}">were</a>)
                        HERE
                    </li>
                    {% include "transit/_message_preview.html" with object=edge.path %}
                    {% include "transit/_message_preview.html" with object=edge.destination %}
                </ol>
            </li>
        {% endfor %}
    </ul>
    <h3>as the path</h3>
    <ul>
        {% for edge in paths %}
            <li>
                <ol>
                    {% include "transit/_message_preview.html" with object=edge.source %}
                    <li>
                        YOU ARE
                        (<a href="{% url "edge_history" edge.source.pk edge.path.pk %}">were</a>)
                        HERE
                    </li>
                    {% include "transit/_message_preview.html" with object=edge.destination %}
                </ol>
            </li>
        {% endfor %}
    </ul>
    <h3>as the destination</h3>
    <ul>
        {% for edge in destinations %}
            <li>
                <ol>
                    {% include "transit/_message_preview.html" with object=edge.source %}
                    {% include "transit/_message_preview.html" with object=edge.path %}
                    <li>
                        YOU ARE
                        (<a href="{% url "edge_history" edge.source.pk edge.path.pk %}">were</a>)
                        HERE
                    </li>
                </ol>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
