{% extends "chat/list.html" %}
{% block before_list %}
    {{ block.super }}
    <a href="{% url "home" %}">
        Home
    </a>
    <br />
    <a href="{% url "message_create" %}">
        New message</a>
    (plain)
    <br />
    <form method="POST" action="{% url "message_create" %}?next={% url "today" %}">
        {% csrf_token %}
        <label for="body">Quick (plain) message:</label>
        <input type="text" name="body" autofocus="html5"></input>
        <input type="submit" value="plain"></input>
    </form>
{% endblock before_list %}
{% block item %}
  {% if not object.hide %}
    {% include "transit/_message_preview.html" %}
  {% endif %}
{% endblock item %}
{% block after_list %}
    {{ block.super }}
    <a href="{% url "message_list" %}">
        All messages</a>
    (plain, paginated)
{% endblock after_list %}
