{% extends "transit/list.html" %}
{% block before_list %}
    <a href="{% url "home" %}">
        Home
    </a>
    <br />
    <h3>most recent</h3>
  {% block quickthread_form %}
    <form method="POST" action="{% url "message_create" %}?next={% url "today" %}">
        {% csrf_token %}
        <label for="body">Quick (plain) message:</label>
        <input type="text" name="body"{% if not object_list %} autofocus="html5"{% endif %}></input>
        <input type="submit" value="plain"></input>
    </form>
  {% endblock quickthread_form %}
    <a href="{% url "pins" %}">Pinned Posts</a>
    <br />
  {% block day_nav %}
    <h3>today's messages</h3>
    (<a href="{% url "day" year=yesterday.year month=yesterday.month day=yesterday.day %}">yesterday</a>)
  {% endblock day_nav %}
    <br />
    <a href="{% url "message_create" %}">
        New message</a>
    (plain)
    {{ block.super }}
{% endblock before_list %}
{% block after_list %}
    {{ block.super }}
    <a href="{% url "message_list" %}">
        All messages</a>
    (plain, paginated)
{% endblock after_list %}
