{% extends "chat/base.html" %}
{% block content %}
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="create edge" />
    </form>
    <ol>
        {% include "transit/_message_preview.html" with object=source %}
        {% include "transit/_message_preview.html" with object=path %}
        {% include "transit/_message_preview.html" with object=destination %}
    </ol>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="create edge" />
    </form>
{% endblock content %}

