{% extends "chat/base.html" %}
{% block content %}
        <div>
            User:
            {{ object.username }}
        </div>
        <div>
            Ideas for stuff to put here:
            <ul>
                <li>
                    All the tags this user has used so far
                </li>
            </ul>
        </div>
        <div>
            TODO posts:
            <ul>
                {% for message in todo_messages %}
        {% include "chat/_message_preview.html" with object=message no_author=True %}
                {% endfor %}
            </ul>
        </div>
        <div>
            Stats:
            <ul>
                <li>
                    Total message count:
                    {{ message_count }}
                </li>
                <li>
                    HILY count:
                    {{ HILY_count }}
                </li>
                <li>
                    HGWILY count:
                    {{ HGWILY_count }}
                </li>
            </ul>
        </div>
        <a href="{% url 'message_list' %}">
            Back to the log
        </a>
{% endblock %}
